# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# GOOGLE SERVICES FILES
# Android
google-services.json
GoogleService-Info.plist

# dependencies
node_modules/

# Environment files
.env
.env.local
.env.development
.env.production

# Android build
android/build/
android/app/build/
android/.gradle/
*.apk
*.aab

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo

# iOS build
ios/Pods/
ios/build/
ios/DerivedData/
yarn-error.log

# iOS Xcode user data
ios/*.xcodeproj/xcuserdata/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/

# iOS artifacts
*.ipa
*.dSYM.zip
*.app

# iOS environment
ios/.xcode.env.local

# Fastlane
ios/fastlane/report.xml
ios/fastlane/Preview.html
ios/fastlane/screenshots/
ios/fastlane/test_output/

# build outputs
build/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Logs and cache
*.log
logs/
.tmp/
tmp/
.cache/

# React Native specific
.buckconfig.local
.bundle/
*.hprof

# Flipper
android/app/src/debug/assets/

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env.*

# typescript
*.tsbuildinfo
